* {
  font-family: "Courier New", Courier, monospace;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin: 0 auto;
  margin-bottom: 100px;
}

.heading {
  color: #1d4ed8;
  margin-top: 50px;
}

.label-cash,
.label-bill {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: larger;
}

.input {
  text-align: center;
  font-size: larger;
  margin: auto;
  width: 20%;
  height: 30px;
  padding: 10px 10px;
  border-radius: 1em;
  border: 2.5px solid #1d4ed8;
}

#check-button {
  background-color: #1d4ed8;
  color: aliceblue;
  font-size: larger;
  margin: 20px auto;
  width: 15%;
  height: 50px;
  border-radius: 1em;
  cursor: pointer;
}

#next-button {
  background-color: #1d4ed8;
  color: aliceblue;
  font-size: larger;
  margin: 20px auto;
  width: 15%;
  height: 50px;
  border-radius: 1em;
  cursor: pointer;
}

caption {
  margin: 10px;
  font-weight: bold;
  font-size: 1.5em;
}

table,
th,
td {
  border: 1.5px solid #1d4ed8;
  border-collapse: collapse;
}

th,
td {
  width: 5em;
  height: 2em;
  padding: 10px;
  font-size: larger;
  font-weight: 700;
}

p {
  font-size: larger;
}

#error {
  color: red;
  font-weight: 700;
}

.footer-container {
  text-align: center;
  width: 60vw;
  margin-top: auto;
}

img {
  width: 30px;
  margin: 10px 10px;
}

form {
  display: flex;
  flex-direction: column;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.change-table {
  text-align: center;
  border: none;
}

@media (max-width: 450px) {
  h1 {
    font-size: 1.4em;
  }

  .container {
    width: 80%;
  }

  .description {
    margin: 0;
    font-size: 0.9em;
    padding: 10px;
  }

  .input {
    width: 110px;
    height: 15px;
  }

  #next-button {
    width: 90px;
  }

  #check-button {
    width: 90px;
  }

  th {
    width: 52px;
    height: 10px;
    padding: 4px;
    font-size: 15px;
  }

  td {
    width: 12%;
    height: 15px;
    padding: 4px;
    font-size: 12px;
  }

  caption {
    font-size: 20px;
  }
}
